nav{
  background: linear-gradient(180deg, rgba(185,196,136,1) 51%, rgba(231,99,35,1) 72%, rgba(20,22,9,1) 99%);
}
@media screen and (max-width:650px){
nav ul{
  background: linear-gradient(180deg, rgba(185,196,136,1) 51%, rgba(231,99,35,1) 72%, rgba(20,22,9,1) 99%);
}

}
.nav-container{
 background: linear-gradient(180deg, rgba(185,196,136,1) 51%, rgba(231,99,35,1) 72%, rgba(20,22,9,1) 99%);
}
footer{
background: linear-gradient(180deg, rgba(185,196,136,1) 51%, rgba(231,99,35,1) 72%, rgba(20,22,9,1) 99%);

}
.card:hover{
background: linear-gradient(180deg, rgba(185,196,136,1) 51%, rgba(231,99,35,1) 72%, rgba(20,22,9,1) 99%); 
}
