nav{
background: linear-gradient(180deg, rgba(47,137,66,1) 52%, rgba(185,212,67,1) 79%, rgba(252,247,180,1) 100%);
}
@media screen and (max-width:650px){
nav ul{
background: linear-gradient(180deg, rgba(47,137,66,1) 52%, rgba(185,212,67,1) 79%, rgba(252,247,180,1) 100%);
}

}

.nav-container{
background: linear-gradient(180deg, rgba(47,137,66,1) 52%, rgba(185,212,67,1) 79%, rgba(252,247,180,1) 100%);
}
footer{
background: linear-gradient(180deg, rgba(47,137,66,1) 52%, rgba(185,212,67,1) 79%, rgba(252,247,180,1) 100%);
}
.card:hover{
background: linear-gradient(180deg, rgba(47,137,66,1) 52%, rgba(185,212,67,1) 79%, rgba(252,247,180,1) 100%); 
}
